<section id="footer" class="footer">
  <div class="social" data-aos="fade-up">
    <a href="https://www.linkedin.com/in/parasuraman-b-4a3378337" target="_blank">
      <i class="fa-brands fa-linkedin-in"></i>
    </a>
    <a href="https://www.facebook.com/share/14UJ14sxRYh/" target="_blank">
      <i class="fab fa-facebook-f"></i>
    </a>
    <a href="mailto:parasuramanb003@gmail.com">
      <i class="fab fa-google-plus-g"></i>
    </a>
    <a href="https://www.instagram.com/blankheart_parasu?igsh=MXJpd2t4d2V0cWd0cw==" target="_blank">
      <i class="fab fa-instagram"></i>
    </a> 
  </div>

  <h4 class="name">parasuraman</h4>

  <p class="copy">© Personal Portfolio. Designed by Parasuraman.B</p>

</section>